{:logseq-agenda {:version "v2.17.1", :repo "haydenull/logseq-plugin-agenda", :effect true, :theme false}
 :logseq-mark-map {:version "v0.4.0", :repo "vipzhicheng/logseq-plugin-mark-map", :effect false, :theme false}
 :logseq-bullet-threading {:version "v1.1.4", :repo "pengx17/logseq-plugin-bullet-threading", :effect false, :theme false}}
